<div class="container justify-content-center align-items-center col-8 light-page p-3">
    <div class="row justify-content-start align-items-center g-2">
        <% posts.slice().reverse().forEach(post => { %>
            <div class="col-lg-4 col-md-6">
                <div class="card" >
                    <div class="card-body">
                        <div class="post-card-my container">
                            <div class="row justify-content-center align-items-center g-2">
                                <div class="col"><h2 class="light-page text-start card-title-my"><%= post.title %></h2>
                                    <div class="row justify-content-start align-items-start g-2 p-1" >
                                        <div class="col rd-30 text-start text-secondary"><%= post.date %></div>
                                    </div>
                                </div>
                            </div>
                            <div class="row justify-content-center align-items-center g-2 p-1">
                                <div class="col">
                                    <%= post.content.slice(0, 100) %>
                                    <% if (post.content.length > 100) { %>
                                        ...
                                    <% } %>
                                    
                                </div>
                            </div>

                        </div>
                        <div class="container-sm justify-content-start align-items-end align-self-end">
                            <div class="row justify-content-end align-items-end align-self-end g-0 p-0 m-0">
                                <div class="col-sm-4"><form action="/selectreadPost" method="post">
                                    <input type="hidden" name="postID" value="<%= post.postID %>">
                                    <button type="submit" class="btn btn-success btn-sm" > Read </button>
                                </form></div>
                                <div class="col-sm-4"><form action="/selectPost" method="post">
                                    <input type="hidden" name="postID" value="<%= post.postID %>">
                                    <button type="submit" class="btn btn-warning btn-sm" > Edit </button>
                                </form></div>
                                <div class="col-sm-4"> <form action="/selectdeletePost" method="post">
                                    <input type="hidden" name="postID" value="<%= post.postID %>">
                                    <button type="submit" class="btn btn-danger btn-sm" > Delete </button>
                                </form></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <% }) %>
    </div>
</div>