<%- include('partials/header.ejs') %>
<body class="dark-page">
  <%- include('partials/navbar.ejs') %>

  <div class="container text-center align-items-start">
    <div
        class="row justify-content-center align-items-start g-2">
        <div class="text-left col align-items-center">
        </div>
        <% if (locals.selectedPost) { %>
          <h2 class="btn btn-danger btn-xl"> You are deleting a post!</h2>
          <div class="text-center col-8 align-self-start">
            <form action="/deletePost" method="POST" class="text-center align-self-center col">
              <h3 class="h3 mb-3 fw-normal">Delete Post</h3>
              <div class="row justify-content-center align-self-center g-2">
                  <div class="col-8 align-self-center">
                      <label for="floatingInput">Title</label>
                      <input type="text" name="title" class="form-control align-self-center" value="<%= selectedPost.title %>" readonly>
                  </div>
              </div>
              <div class="row justify-content-center align-self-left g-2">
                  <div class="col-8 align-self-left">
                      <label for="floatingContent align-self-start">Content</label>
                      <textarea type="text" name="content" class="form-control text-left" rows="6" cols="50" readonly> <%= selectedPost.content %>
                      </textarea>
                  </div>
              </div>            
              <input type="hidden" name="postID" value="<%= selectedPost.postID %>">
              <button class="btn btn-danger col-4 align-self-center" type="submit">Delete Post</button>
            </form>
          </div>
        <% } else { %>
          <div class="text-center col-8 align-self-center">
              <h3 class="h3 mb-3 fw-normal btn btn-warning">Something went wrong...</h3>
               <div>
                <p>You can go home page by using menu on top.</p>
               </div>
          </div>
          <% } %>

    </div>

</body>
<%- include('partials/footer.ejs') %>